# Build files
/target

# VS Code
.vscode

# MacOS
.DS_Store

# Scratchpad
scratchpad.txt

# API keys
/api/

# Output folders
/saved_output/*

# Uploads and server-generated backups
/uploads/*
/server/backups/*

# YARA rules
/yara_rules/*.yar
/yara_rules/*.yara

# MKDocs
/site

# Server
/server/venv/
