# Build files
/target

# VS Code
.vscode

# MacOS
.DS_Store

# Scratchpad
scratchpad.txt

# Secrets
vt-api.txt
mb-api.txt

# Output folders
/saved_output/*

# YARA rules
/yara_rules/*.yar
/yara_rules/*.yara

# MKDocs
/site
